
@import 'bootstrap.min.css';
@import 'magnific-popup.css';
@import 'materialdesignicons.min.css';
@import 'pe-icon-7-stroke.css';
@import 'simpletextrotator.css';
@import 'waves.css';
@import 'YTPlayer.css';
@import 'style.css';
